@import "//fonts.googleapis.com/css?family=Roboto:300,400";
@import "//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css";
@import "mdl.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    min-width: 320px;
    background: url(/static/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: #e4a04b;
}

.banner-wrapper {
    width: 100%;
    display: flex;
    min-height: 550px;
    flex-wrap: wrap;
}

.banner-wrapper > div {
    background-size: cover;
    min-width: 320px;
    min-height: 240px;
}

.banner-left {
    padding: 30px;
    background-color: #4285f4;
    flex: 1;
    align-items: center;
    display: flex;
}

.banner-right {
    flex: 1;
    background-color: #ffffff;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.banner-right > div {
    flex: 1;
    min-height: 240px;
    background-size: contain;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
}

.snape-details{
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    padding: 10px 10px 16px;
    font-weight: 300;
    line-height: 36px;
}

.download {
    max-width: 280px;
    display: flex;
    margin: 40px auto;
}

.download > .mdl-button {
    background-color: #ffffff;
}

.download-btn span {
    color: grey;
    font-size: 12px;
}

.download-btn:hover {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.logo > svg {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.logo > h4 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
}

.version {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

a.mdl-button > i{
    line-height: 54px;
}

.strip {
    height: 50px;
    background-color: #f6f6f6;
}

.steps-wrapper{
    min-height: 600px;
    display: flex;
    position: relative;
    color: #fff;
    align-items: center;
    padding: 20px 0;
}

.steps-wrapper:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.7;
}

.steps-wrapper > ul {
    z-index: 9999;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
}

.steps-wrapper li {
    width: 50%;
    float: left;
    padding: 0 10px;
}

@media screen and (max-width: 830px) {
    .steps-wrapper li {
        width: 100%;
        padding: 0 30px;
    }
}

@media screen and (max-width: 462px) {
    .banner-right > div{
        background-size: contain;
    }
}

.steps-wrapper i {
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    font-size: 22px;
    padding: 10px 9px;
}

.mdl-list__item{
    color: #fff;
}

.mdl-list__item-text-body{
    color: rgba(255, 255, 255, 0.7) !important;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.7);
}

.screenshots {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
    flex: 1;
    max-width: 1100px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    margin: 30px 0;
}

.disclaimer{
    background-color: white;
    text-align: center;
    padding: 50px;
    line-height: 36px;
    font-size: 24px;
    font-weight: 300;
    color: #666;
}

.copyright {
    background-color: #f6f6f6;
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #eee;
}

.screenshot-img {
    flex: 1;
    background-color: #509af5;
}

.screenshot-img > div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #509af5;
}

.screenshots .mdl-button:hover {
    background-color: inherit;
}

.report-here {
    color: rgba(255, 255, 255, 0.91);
}

.report-here:hover {
    color: #ffffff;
}